// file: doc.scss
// document layout rules
// This is part of the micro css implementation.

h2 {
  clear: both;
}

// Tables

table {
  empty-cells: show;
  border-collapse: collapse;
  border-left: solid 1px #203050;
  border-right: solid 1px #203050;
  margin-top: 0.4em;
  margin-bottom: 0.4em;

  thead tr {
    background-color: #203050;

    th {
      vertical-align: top;
      padding: 0.2em 0.6em;
      color: white;
      font-weight: bold;
    }
  }

  td {
    vertical-align: top;
    padding: 0.2em 0.6em;
    border-bottom: 1px solid #203050;
  }
}

// simple content cards with image + text
.plaincard,
.imgcard,
.iconcard {
  position: relative;
  margin: $u-gutter $u-gutter $u-gutter 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--card-back);
  page-break-inside: avoid;

  > h3 {
    margin-top: 0;
  }
}

// card with text only
.plaincard {
  padding: $u-gutter2;
  min-height: 6rem;
}

// cards with icon
.iconcard {
  padding: $u-gutter $u-gutter $u-gutter calc(4rem + 2 * $u-gutter);
  min-height: 5.4rem;

  svg {
    position: absolute;
    top: $u-gutter;
    left: $u-gutter;
    height: 4rem;
    width: 4rem;
  }
}

// picture with 4:3 ratio + text
.imgcard {
  padding: $u-gutter2 $u-gutter2 0 calc(9.6rem + $u-gutter2);
  min-height: 7.2rem;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 9.6rem;
    max-height: 7.2rem;
  }
}

img[title='w200'] {
  width: 200px;
}

img[title='w400'] {
  width: 400px;
}

img[title='w600'] {
  width: 600px;
}

.warning {
  padding: 0.2rem;
  border-radius: 0.4rem;
}

// formatted code blocks

@media print {
  html,
  body {
    font-size: 0.66em;
    background-color: white;
  }

  .short {
    border: 1px solid silver;
  }
}
