// file: extras.scss
// rules, not in use
// This is part of the micro css implementation.

/* === Responsive Utilities === */

.display-xs {
  display: none;
}

@media (width < 768px) {
  .hidden-xs {
    display: none;
  }

  .display-xs {
    display: initial;
  }
}
