---
title: NO-TITLE
description: An Arduino Library that makes Iot devices building easy.
permalink: "{{ page.filePathStem }}.htm"
---
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="/pages.js"></script>
  <link Content-Type="text/css" href="/docstyle.css" rel="stylesheet" />
  <script src="/story.js" type="module"></script>

  <meta name="google-site-verification" content="7tTF0t5uCMnyE6X31OIOQpcOf4QxWuODtyZLoVsKCEc" />
  <meta name="msvalidate.01" content="7FC9C7BCD4002EBD89AAC2EF63D7B353" />
  <link rel="icon" type="image/png" href="/favicon48.png" sizes="48x48">

  <meta name="description" content="{{ description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://homeding.github.io/">
  <meta property="og:image" content="homeding.png">
</head>

<body class="sitelayout">

  <div class="navbar">
    <button id="menu" popovertarget="my-menu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path fill="white" d="M0 8h48v6H0zm0 13h48v6H0zm0 13h48v6H0z" />
      </svg>
    </button>
    <a href="/index.htm" class="button">Home</a>
    <a href="/elements/index.htm" class="button">Elements</a>
    <a href="/boards/index.htm" class="button">Boards</a>
    <a href="/recipes/index.htm" class="button">Recipes</a>
    {# <span class="gap"></span>
    <svg id="themebutton" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
      <path fill="white" d="M24 1c-13 0-23 10-23 23s10 23 23 23s23-11 23-23s-11-23-23-23z M24 43V5c10 0 19 10 19 19s-9 19-19 19z" />
    </svg> #}
  </div>

  <nav popover='auto' id='my-menu' class='menu'></nav>

  <main>
    <h1>{{title}}</h1>

    {% if excerpt %}
      <div class="card-container horizontal text" style="--card-height:5rem;--card-image-size:5rem;">
        <div class="card">
          {% if icon %}
            <svg>
              <use href="/icons.svg#{{ icon }}"></use>
            </svg>
          {% endif %}
          <div class="body">
            {{ excerpt | markdown | safe }}
          </div>
        </div>
      </div>
    {% endif %}

      
    {{ content | safe }}

    {% if tags %}
      <h2>Tags</h2>
      <div class="taglist">
        {%- for tag in tags %}
        <a href="/tag/{{ tag  | lower }}.htm">{{ tag | capitalize }}</a>
        {%- endfor %}
      </div>
    {% endif %}
  </main>

  <script>
    {# function setTheme(lightMode) {
      const theme = lightMode ? 'light' : 'dark';
      document.querySelector(':root').style.colorScheme = theme;
    }

    let isLightTheme = window.matchMedia('(prefers-color-scheme: light)').matches;
    console.log('prefersLightTheme', isLightTheme);
    setTheme(isLightTheme);

    document.querySelector('#themebutton').addEventListener('click', function(e) {
      isLightTheme = !isLightTheme;
      setTheme(isLightTheme);
    }); #}

    var navObj = document.querySelector('nav');
    lazyLoadHTM('nav', '/toc.htm');
  </script>

</body>

</html>