---
title: NO-TITLE
permalink: "{{ page.filePathStem }}.htm"
---
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link Content-Type="text/css" href="/docstyle.css" rel="stylesheet" />

  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  <style>
    .s-md {
      min-height: 4em;
      padding: 0.4em;
      max-width: 800px;
    }

    nav a, nav a:hover {
      text-decoration: none;
    }

    table {
      empty-cells: show;
      border-collapse: collapse;
      border-left: solid 1px #203050;
      border-right: solid 1px #203050;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }

    table thead tr {
      background-color: #203050;
    }

    table thead tr th {
      vertical-align: top;
      padding: 0.2em 0.6em;
      color: white;
      font-weight: bold;
    }

    table td {
      vertical-align: top;
      padding: 0.2em 0.6em;
      border-bottom: 1px solid #203050;
    }

    img {
      max-width: 600px;
      height: auto;
    }

    p>img {
      width: auto;
      height: auto;
    }

    h2 {
      clear: both;
    }

    .short,
    .board,
    .excerpt {
      position: relative;
      width: 100%;
      min-height: 7.2rem;
      padding: 0.5rem 0.5rem 0 4rem;
      margin-right: 0.5rem;
      background-color: var(--card-back);
      margin-bottom: 1rem;
      page-break-inside: avoid;
    }

    .short {
      float: left;
      min-height: 7.2rem;
    }

    .board {
      padding: 0.5rem 0.5rem 0 11rem;
      min-height: 7.2rem;
      width: 100%;
      max-width: 100%;
    }

    .excerpt {
      min-height: 6rem;
    }

    .short img,
    .short svg,
    .excerpt svg {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      height: 3rem;
      width: 3rem;
    }

    .board img {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      height: auto;
      width: auto;
      max-height: 6rem;
      max-width: 10rem;
    }

    .warning {
      border: 0.2rem solid #ebccd1;
      color: #a94442;
      background-color: #f2dede;
      border-radius: 0.4rem;
    }

    .warning>h3 {
      color: #a94442;
    }

    @media print {

      html,
      body {
        font-size: 0.66em;
        background-color: white;
      }

      .short {
        border: 1px solid silver;
      }
    }

    img[title=w200] {
      width: 200px;
    }

    img[title=w400] {
      width: 400px;
    }

    img[title=w600] {
      width: 600px;
    }
  </style>

</head>

<body >
  <main class="container-fluid" style="background-color:#eeeeee">
    {{ content | safe }}
  </main>
</body>

</html>