{% macro imgCard(coll, item = 'div') %}

<div class="imgcard"><img src="{{item}}.jpg">

  **[{% dataOf coll, item, "title" %}]({{item}}.md)**

  {% dataOf coll, item, "excerpt" %}

</div>
{% endmacro %}


{% macro elemCard(name, icon) %}
{% if not icon %}{% set icon = name %}{% endif %}
<div class="iconcard">
  <a href="{% urlOf collections.Element, name %}"><svg class="icon"><use href="/icons.svg#{{icon}}"></use></svg></a>
  <h3><a href="{% urlOf collections.Element, name %}">{% dataOf collections.Element, name, "title" %}</a> ({{name}})</h3>

{% dataOf collections.Element, name, "excerpt" %}

</div>
{% endmacro %}

{% macro carousel(images) %}
<style>
u-carousel {
  timeline-scope: --carousel;

  display:block;
  width: 600px;
  height: auto;

  position: relative;
  margin: 1em auto;
  background: white;

  .prev, .next {
    position: absolute;
    top:0;
    top: 50%; transform: translateY(-50%);
    width:4rem;height:4rem;
    border-radius:50%;
    border:0;

    opacity: 0.2;
    background-color: rgba(255, 255, 255, 0.4);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
  	transition-property: opacity;
    K  	transition-duration: 0.2s;
  }

  .prev:hover, .next:hover {
    opacity: 1;
  }

  .prev { left:0; 
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='currentColor'><path d='M34,44l-28,-20l28,-20Z' /></svg>");
  }
  
  .next { right:0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='currentColor'><path d='M14,44l28,-20l-28,-20Z' /></svg>");
 }

  .entries {
    scroll-timeline-name: --carousel;
    scroll-timeline-axis: x;

    display: flex;
    width: 100%;
    flex-direction: row;

    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    padding: 0;

    > li {
      scroll-snap-align: center;
      flex: 100% 0 0;

      display: grid;
      place-content: center;
    }

    img {
      display: block;
      height: auto;
      width: 600px;
    }
  }
}

</style>


<u-carousel>
  <button class="prev" onclick="document.querySelector('.entries').scrollBy(-100, 0)" ></button>
  <button class="next" onclick="document.querySelector('.entries').scrollBy(100, 0)" ></button>
  <ul class="entries" tabindex="0">
{% for i in images %}
  <li><img src="{{i.file}}" alt="{{i.text}}" title="" draggable="false"></li>
{% endfor %}
  </ul>
</u-carousel>

{% endmacro %}